* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: Bisque;
}


nav {
    background-color: Tomato;
    display: flex
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: Coral;
}


.submenu {
    display: none;
    position: absolute;
    background-color: Coral;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 180px;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: LightSalmon;
}


.dropdown:hover .submenu {
    display: block;
}
.menu .next {
  margin-left: auto;
}

#page-suivante:link,
#page-suivante:visited {
  background-color: Tomato;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  z-index: 1000;
}

#page-suivante:hover,
#page-suivante:active {
  background-color: Coral;

}
h1 {
  text-align: center; 
  margin-top: 25px; 
  color: DarkSlateGray;
}
ul.a {
  list-style-type: circle;
  list-style-position: inside;
  padding-left: 0;
}
