* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: LightYellow;
}


nav {
    background-color: Coral;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: LightSalmon;
}


.submenu {
    display: none;
    position: absolute;
    background-color: LightSalmon;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 180px;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: PeachPuff;
}


.dropdown:hover .submenu {
    display: block;
}
