/* Reset basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Menu principal */
nav {
    background-color: E9967A;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    position: relative;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    background-color: FFA07A;
}

/* Sous-menu */
.submenu {
    display: none;
    position: absolute;
    background-color: FFA07A;
    list-style: none;
    top: 100%;
    left: 0;
    min-width: 180px;
}

.submenu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover {
    background-color: #c0392b;
}

/* Apparition du menu déroulant */
.dropdown:hover .submenu {
    display: block;
}

body {
  background-color: FFDAB9;
}
